{% extends "base.html" %}
{% load static %}

{% block title %}
    Kyle Chart | Full Stack Developer
{% endblock %}

{% block content %}
    <section class="bg-gray-900">
        <div class="landing">
            <div class="intro">
                <h3>Hi I'm <Span>Kyle Chart</Span><br>Full Stack Web Developer &<br>Freelance Copywriter</h3>
                <a href="{% url 'contact' %}" rel="opener" class="" aria-label="Open the contact page"><button>Contact Me</button></a>
            </div>
            <div class="socials mr-44">
                <div class="line"></div>
                <a class="icon" href="https://www.github.com/mrekyle" aria-label="Opens Kyle Charts Github" rel="opener" target="_blank"><i class="fa-brands fa-github icon"></i></a>
                <a class="icon" href="https://www.linkedin.com/in/kylechart/" aria-label="Opens Kyle Charts Linkedin" rel="opener" target="_blank"><i class="fa-brands fa-linkedin icon"></i></a>
                <a class="icon" href="https://www.instagram.com/kylechart_" aria-label="Opens Kyle Charts Instagram" rel="opener" target="_blank"><i class="fa-brands fa-instagram icon"></i></a>
                <a class="icon" href="{% url 'contact' %}" aria-label="Opens the contact form" rel="opener" target="_blank"><i class="fa-regular fa-envelope icon"></i></a>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <h1>About</h1>
        <div class="description">
            <div class="line"></div>
            <p>
                Full stack developer and Head Chef. Code Institute has allowed me to gain a particularly strong 
                set of Front and Back-End skills. Proficient with Python, SQL, HTML, CSS, JavaScript and multiple 
                frameworks. Possessing multiple skills that can be utilized from my past experience from being a chef 
                for the past 10 years. Allowing me to work to tight deadlines, whilst maintaining a high standard for the 
                delivered product. Being able to work on my own with a high level of self motivation or in a team of people. 
                <br><br>
                Currently seeking a new opportunity within the IT sector. As a Junior Front End Developer, 
                Junior Full Stack Developer or junior Developer. Where I can showcase my existing skills and progress my current 
                skills further. 
            </p>
        </div>
    </section>
    <section class="skills mt-4">
        <h1>My Tech-Stack</h1>
        <div class="cards">
            <div class="line disabled"></div>
            <div class="skill-card">
                <img src="media/python.svg" alt="">
                <h2>Python</h2>
            </div>
            <div class="skill-card">
                <img src="media/amazon-web-services.svg" alt="">
                <h2>AWS</h2>
            </div>
            <div class="skill-card">
                <img src="media/css.svg" alt="">
                <h2>CSS</h2>
            </div>
            <div class="skill-card">
                <img src="media/django.png" alt="">
                <h2>Django</h2>
            </div>
            <div class="skill-card">
                <img src="media/tailwind.svg" alt="">
                <h2>Tailwind</h2>
            </div>
            <div class="skill-card">
                <img src="media/heroku.png" alt="">
                <h2>Heroku</h2>
            </div>
            <div class="skill-card">
                <img src="media/github.png" alt="">
                <h2>Github</h2>
            </div>
            <div class="skill-card">
                <img src="media/html.svg" alt="">
                <h2>HTML</h2>
            </div>
            <div class="skill-card">
                <img src="media/js.svg" alt="">
                <h2>JavaScript</h2>
            </div>
            <div class="skill-card">
                <img src="media/mysql.svg" alt="">
                <h2>MySQL</h2>
            </div>
            <div class="skill-card">
                <img src="media/bootstrap.png" alt="">
                <h2>Bootstrap</h2>
            </div>
            <div class="skill-card">
                <img src="media/react.svg" alt="">
                <h2>ReactJS</h2>
            </div>
        </div>
    </section>
    <section class="portfolio" id="portfolio">
        <h1>Portfolio</h1>
        <div class="portfolio-cards">
            <div class="portfolio-card">
                <img src="media/firstclasspass.png" alt="First Class Pass Image">
                <div class="overlay">
                    <h3>First Class Pass</h3>
                    <p>Basic landing pages for a driving school</p>
                    <p>HTML | CSS </p>
                    <a class="p-btn" href="https://github.com/Mrekyle/ci-project-1" aria-label="Opens the github Repo" rel="opener" target="_blank"><i class="fa-brands fa-github icon pr-3"></i>See More -></a>
                </div>
            </div>
            <div class="portfolio-card">
                <img src="media/hangman.png" alt="Hangman App Image">
                <div class="overlay">
                    <h3>Hangman</h3>
                    <p>Play the classic hangman game in your browser</p>
                    <p>Python</p>
                    <a class="p-btn" href="https://github.com/Mrekyle/ci-project-3" aria-label="Opens the github Repo" rel="opener" target="_blank"><i class="fa-brands fa-github icon pr-3"></i>See More -></a>
                </div>
            </div>
            <div class="portfolio-card">
                <img src="media/localitty.png" alt="Localitty Image">
                <div class="overlay">
                    <h3>Localitty</h3>
                    <p>Local online e-commerce store aiming to connect locals with local produce</p>
                    <p>Django | SQL | HTML | CSS | JavaScript</p>
                    <a class="p-btn" href="https://github.com/Mrekyle/ci-project-5" aria-label="Opens the github Repo" rel="opener" target="_blank"><i class="fa-brands fa-github icon pr-3"></i>See More -></a>
                </div>
            </div>
        </div>
    </section>
    <section class="experience" id="experience">
        <div class="darker-div"></div>
        <h1 class="mt-8">My Experience</h1>
        <div class="lighter-div mt-6">
            <div class="exp">
                <h2>Freelance Web Developer</h2>
                <div class="exp-desc">
                    <h3>September 2023 - Current | Colchester, Essex</h3>
                    <p>
                        Freelance Web Developer for locals in my area. From the initial design, development of 
                        the application/website to the final deployment. Communicating with the clients on a daily/weekly basis.
                        <br>
                        Providing services such as Domain Registration, Hosting, Email set-up and general website management/maintenance. 
                        <br><br>
                        Completing jobs from freelancing websites such as <strong>Freelancer</strong>, <strong>UpWork</strong>
                        and <strong>Fiver</strong>
                    </p>
                </div>
            </div>
            <div class="exp mt-4">
                <h2>Freelance Copywriter</h2>
                <div class="exp-desc">
                    <h3>June 2023 - Current | Colchester, Essex</h3>
                    <p>
                        Completing various copywriting and data entry jobs for multiple clients.
                        <br><br>
                        Completing jobs from freelancing websites such as <strong>Freelancer</strong>, <strong>UpWork</strong>
                        and <strong>Fiver</strong>
                    </p>
                </div>
            </div>
            <div class="exp mt-4">
                <h2>Code Institute Full Stack Developer Student</h2>
                <div class="exp-desc">
                    <h3>January 2023 - December 2023 | Colchester, Essex</h3>
                    <p>
                        Student on the Code Institute Full Stack Developer Program. Studying multiple different languages, Skills and 
                        Techniques. All to do with Web Development. Completing various projects through out the course to put my knowledge
                        to the test. All with different languages and skill sets to allow me to become a well rounded, strong, 
                        Full Stack Developer. All projects can be found on my Github Profile. 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-me">
        <h1>Contact Me</h1>
        <div class="contact">
            <div class="contact-card">
                <i class=""></i>
                <p>Contact Me</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="text-gray-300 pb-2 pr-4 flex justify-end">
            &copy;  <script>document.write(new Date().getFullYear())</script> Kyle Chart |  <a target="_blank" aria-label="Opens up Kyle Charts github" href="https://www.github.com/mrekyle"><i class="fa-brands fa-github git-link ps-2"></i></a>
        </div>
    </footer>
</div>
{% endblock %}